:root {
  --grey: #c3b9b9d3;
  --green: #8db600;
  --ash: #434b54;
  --black: #555e77;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, Arial, Helvetica, sans-serif;
  color: var(--white);
}

.container {
  background: linear-gradient(rgba(164, 213, 3, 0.8), rgba(57, 73, 2, 0.8)), url('../assets/img-6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.reserve-header {
  letter-spacing: 5px;
  font-weight: 800;
  text-align: center;
  color: var(--white);
}

.reserve-body {
  font-size: 13px;
  text-align: center;
  color: var(--white);
}

.thematic {
  border-top: 0.2px solid var(--white);
}

.booking-btns {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

select,
button {
  background: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  border: 2px solid var(--white);
}

button {
  background-color: var(--white);
  color: var(--green);
}

button:hover {
  background: transparent;
  color: var(--white);
}
