:root {
  --grey: #c3b9b9d3;
  --green: #8DB600;
  --ash: #434b54;
  --black: #555e77;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

main {
  width: 400px;
  background-color: var(--white);
  height: 100vh;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.placeholder {
  width: 300px;
  font-size: 3rem;
}

.second, .third {
  display: none;
}

.slides {
  display: block;
  text-align: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.exhaust-img {
  background-color: var(--grey);
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
}

.prev.hidden, .next.hidden {
  display: none;
}

/* .prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.7);
} */

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;
    height: 100%;
  }

  .second, .third {
    display: block;
  }

  .slides {
    display: flex;
    text-align: center;
  }
}
