.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.placeholder {
  width: 300px;
  font-size: 3rem;
}

.slides {
  display: flex;
  text-align: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.exhaust-img {
  background-color: grey;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
}

.prev.hidden, .next.hidden {
  display: none;
}

/* .prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.7);
} */

img {
  width: 100%;
  height: auto;
}
